<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<h2>New book</h2>
<%= form_with model: @book do |f| %>

<label for="book_title">Title</label>
<div class="field">
  <%= f.text_field :title %>
</div>

<label for="book_body">Body</label>
<div class="field">
<%= f.text_area :body %>
</div>
<div>
<%= f.submit 'Create Book' %>
</div>

<% end %>


